openapi: 3.0.3
info:
  version: ''
  title: Shipping V2
  termsOfService: 'https://www.bigcommerce.com/terms'
  contact:
    name: BigCommerce
    url: 'https://www.bigcommerce.com'
    email: support@bigcommerce.com
  description: |-
    Manage shipping zones, shipping methods, and shipping carrier connections.


    ### Shipping Zones

    The Shipping Zone object and endpoints manage shipping zones within countries.


    ### Shipping Methods

    The Shipping Methods object and endpoints manage shipping rules within Shipping Zones. These rules determine the shipping rates displayed at checkout, and related parts of the control panel, such as the shipping of manual orders.


    ### Shipping Carrier Connections

    Carrier connections refer to specific settings required to connect to a specific shipping carrier. Each carrier requires your app to supply a unique set of properties/fields to establish a connection with that carrier.
servers:
  - url: 'https://api.bigcommerce.com'
    description: BigCommerce API Gateway
security:
  - X-Auth-Token: []
tags:
  - name: Shipping Method
  - name: Shipping Carrier
  - name: Shipping Zones
  - name: Shipping Products Custom Information
paths:
  '/stores/{store_hash}/v2/shipping/zones':
    get:
      description: Returns a list of all *Shipping Zones*.
      summary: Get All Shipping Zones
      tags:
        - Shipping Zones
      parameters:
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Shipping Zone
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Zone ID
                      example: 1
                    name:
                      type: string
                      description: Zone name. Required for PUT requests.
                      example: United States
                    type:
                      type: string
                      enum:
                        - zip
                        - country
                        - state
                        - global
                    locations:
                      description: Array of zone locations.
                      type: array
                      items:
                        title: Shipping Zone Locations
                        type: object
                        properties:
                          id:
                            description: Location’s ID.
                            example: 3
                            type: integer
                          zip:
                            description: Location’s ZIP/postal code.
                            example: '12345'
                            type: string
                          country_iso2:
                            description: 2-letter ISO Alpha-2 code for the country.
                            example: US
                            type: string
                          state_iso2:
                            description: ISO Alpha-2 code for the state.
                            example: TX
                            type: string
                    free_shipping:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        minimum_sub_total:
                          type: string
                          example: '0.0000'
                          description: '(Float, Float-As-String, Integer)'
                        exclude_fixed_shipping_products:
                          type: boolean
                    handling_fees:
                      title: Shipping Zone Handling Fees
                      type: object
                      oneOf:
                        - properties:
                            fixed_surcharge:
                              description: Flat-rate handling fee applied to shipping cost.
                              example: '0'
                              type: string
                            display_separately:
                              description: Indicates whether store displays handling fee separately at checkout.
                              example: true
                              type: boolean
                          title: fixed surcharge
                        - properties:
                            percentage_surcharge:
                              description: Percentage handling fee applied to shipping cost.
                              example: '5'
                              type: string
                            display_separately:
                              description: Indicates whether store displays handling fee separately at checkout.
                              example: true
                              type: boolean
                          title: percentage surcharge
                    enabled:
                      description: Whether this shipping zone is enabled.
                      example: true
                      type: boolean
              examples:
                response:
                  value:
                    - id: 1
                      name: United States
                      type: country
                      locations:
                        - id: 5
                          country_iso2: US
                      free_shipping:
                        enabled: false
                        minimum_sub_total: '0.0000'
                        exclude_fixed_shipping_products: false
                      enabled: true
                    - id: 2
                      name: Australia
                      type: country
                      locations:
                        - id: 6
                          country_iso2: AU
                      free_shipping:
                        enabled: false
                        minimum_sub_total: '0.0000'
                        exclude_fixed_shipping_products: false
                      enabled: true
            Response Schema:
              examples:
                response:
                  value:
                    - name: esse veniam deserunt nisi
                      id: 6648057
                      type: state
                      locations:
                        - id: 27962554
                          zip: sed commodo
                          country_iso2: laborum Ut
                          state_iso2: sunt officia laboris tempor cupidatat
                        - id: 90778339
                          zip: amet anim deserunt cillum aute
                          country_iso2: cupidatat
                          state_iso2: dolor nisi
                        - id: 48379114
                          zip: dolore fugiat
                          country_iso2: sit in officia ea
                          state_iso2: qui ad
                      free_shipping:
                        enabled: false
                        minimum_sub_total: exercitation pariatur Lorem enim
                        exclude_fixed_shipping_products: true
                      handling_fees:
                        fixed_surcharge: in
                        percentage_surcharge: consequat
                        display_separately: false
                      enabled: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getAllShippingZones
    post:
      description: Creates a *Shipping Zone*.
      summary: Create a Shipping Zone
      tags:
        - Shipping Zones
      parameters:
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              title: Shipping Zone
              type: object
              properties:
                name:
                  type: string
                  description: Zone name. Required for PUT requests.
                  example: United States
                type:
                  type: string
                  enum:
                    - zip
                    - country
                    - state
                    - global
                locations:
                  description: Array of zone locations.
                  type: array
                  items:
                    title: Shipping Zone Locations
                    type: object
                    properties:
                      id:
                        description: Location’s ID.
                        example: 3
                        type: integer
                      zip:
                        description: Location’s ZIP/postal code.
                        example: '12345'
                        type: string
                      country_iso2:
                        description: 2-letter ISO Alpha-2 code for the country.
                        example: US
                        type: string
                      state_iso2:
                        description: ISO Alpha-2 code for the state.
                        example: TX
                        type: string
                free_shipping:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    minimum_sub_total:
                      type: string
                      example: '0.0000'
                      description: '(Float, Float-As-String, Integer)'
                    exclude_fixed_shipping_products:
                      type: boolean
                handling_fees:
                  title: Shipping Zone Handling Fees
                  type: object
                  oneOf:
                    - properties:
                        fixed_surcharge:
                          description: Flat-rate handling fee applied to shipping cost.
                          example: '0'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: fixed surcharge
                    - properties:
                        percentage_surcharge:
                          description: Percentage handling fee applied to shipping cost.
                          example: '5'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: percentage surcharge
                enabled:
                  description: Whether this shipping zone is enabled.
                  example: true
                  type: boolean
              required:
                - name
                - type
            examples:
              'Type: ZIP':
                value:
                  name: United States
                  type: zip
                  locations:
                    - zip: '11103'
                      country_iso2: US
              'Type: Country':
                value:
                  name: Mexico
                  type: country
                  locations:
                    - country_iso2: MX
              'Type: State':
                value:
                  name: South Carolina
                  type: state
                  locations:
                    - country_iso2: US
                      state_iso2: SC
              'Type: Global':
                value:
                  name: Global
                  type: global
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Zone
                type: object
                properties:
                  id:
                    type: integer
                    description: Zone ID.
                    example: 1
                  name:
                    type: string
                    description: Zone name.
                    example: United States
                  type:
                    type: string
                    enum:
                      - zip
                      - country
                      - state
                      - global
                  locations:
                    description: Array of zone locations.
                    type: array
                    items:
                      title: Shipping Zone Locations
                      type: object
                      properties:
                        id:
                          description: Location ID.
                          example: 3
                          type: integer
                        zip:
                          description: Location’s ZIP/postal code.
                          example: '12345'
                          type: string
                        country_iso2:
                          description: 2-letter ISO Alpha-2 code for the country.
                          example: US
                          type: string
                        state_iso2:
                          description: ISO Alpha-2 code for the state.
                          example: TX
                          type: string
                  free_shipping:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      minimum_sub_total:
                        type: string
                        example: '0.0000'
                        description: '(Float, Float-As-String, Integer)'
                      exclude_fixed_shipping_products:
                        type: boolean
                  handling_fees:
                    title: Shipping Zone Handling Fees
                    type: object
                    oneOf:
                      - properties:
                          fixed_surcharge:
                            description: Flat-rate handling fee applied to shipping cost.
                            example: '0'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: fixed surcharge
                      - properties:
                          percentage_surcharge:
                            description: Percentage handling fee applied to shipping cost.
                            example: '5'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: percentage surcharge
                  enabled:
                    description: Whether this shipping zone is enabled.
                    example: true
                    type: boolean
              examples: {}
      operationId: createAShippingZones
    parameters:
      - name: store_hash
        in: path
        required: true
        schema:
          type: string
  '/stores/{store_hash}/v2/shipping/zones/{id}':
    get:
      description: Returns a single *Shipping Zone*.
      summary: Get a Shipping Zones
      tags:
        - Shipping Zones
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Zone
                type: object
                properties:
                  id:
                    type: integer
                    description: Zone ID
                    example: 1
                  name:
                    type: string
                    description: Zone name.
                    example: United States
                  type:
                    type: string
                    enum:
                      - zip
                      - country
                      - state
                      - global
                  locations:
                    description: Array of zone locations.
                    type: array
                    items:
                      title: Shipping Zone Locations
                      type: object
                      properties:
                        id:
                          description: Location’s ID.
                          example: 3
                          type: integer
                        zip:
                          description: Location’s ZIP/postal code.
                          example: '12345'
                          type: string
                        country_iso2:
                          description: 2-letter ISO Alpha-2 code for the country.
                          example: US
                          type: string
                        state_iso2:
                          description: ISO Alpha-2 code for the state.
                          example: TX
                          type: string
                  free_shipping:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      minimum_sub_total:
                        type: string
                        example: '0.0000'
                        description: '(Float, Float-As-String, Integer)'
                      exclude_fixed_shipping_products:
                        type: boolean
                  handling_fees:
                    title: Shipping Zone Handling Fees
                    type: object
                    oneOf:
                      - properties:
                          fixed_surcharge:
                            description: Flat-rate handling fee applied to shipping cost.
                            example: '0'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: fixed surcharge
                      - properties:
                          percentage_surcharge:
                            description: Percentage handling fee applied to shipping cost.
                            example: '5'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: percentage surcharge
                  enabled:
                    description: Whether this shipping zone is enabled.
                    example: true
                    type: boolean
      operationId: getAShippingZone
    put:
      description: |-
        Updates a *Shipping Zone*.

        **Required Fields**
        * name

        **Read Only Fields**
        * id
      summary: Update a Shipping Zone
      tags:
        - Shipping Zones
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              title: Shipping Zone
              type: object
              properties:
                id:
                  type: integer
                  description: Zone ID. Read-only.
                  example: 1
                  readOnly: true
                name:
                  type: string
                  description: Zone name. Required for PUT requests.
                  example: United States
                type:
                  type: string
                  enum:
                    - zip
                    - country
                    - state
                    - global
                locations:
                  description: Array of zone locations.
                  type: array
                  items:
                    title: Shipping Zone Locations
                    type: object
                    properties:
                      id:
                        description: Location’s ID.
                        example: 3
                        type: integer
                      zip:
                        description: Location’s ZIP/postal code.
                        example: '12345'
                        type: string
                      country_iso2:
                        description: 2-letter ISO Alpha-2 code for the country.
                        example: US
                        type: string
                      state_iso2:
                        description: ISO Alpha-2 code for the state.
                        example: TX
                        type: string
                free_shipping:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    minimum_sub_total:
                      type: string
                      example: '0.0000'
                      description: '(Float, Float-As-String, Integer)'
                    exclude_fixed_shipping_products:
                      type: boolean
                handling_fees:
                  title: Shipping Zone Handling Fees
                  type: object
                  oneOf:
                    - properties:
                        fixed_surcharge:
                          description: Flat-rate handling fee applied to shipping cost.
                          example: '0'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: fixed surcharge
                    - properties:
                        percentage_surcharge:
                          description: Percentage handling fee applied to shipping cost.
                          example: '5'
                          type: string
                        display_separately:
                          description: Indicates whether store displays handling fee separately at checkout.
                          example: true
                          type: boolean
                      title: percentage surcharge
                enabled:
                  description: Whether this shipping zone is enabled.
                  example: true
                  type: boolean
              required:
                - name
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Zone
                type: object
                properties:
                  id:
                    type: integer
                    description: Zone ID. Read-only.
                    example: 1
                    readOnly: true
                  name:
                    type: string
                    description: Zone name. Required for PUT requests.
                    example: United States
                  type:
                    type: string
                    enum:
                      - zip
                      - country
                      - state
                      - global
                  locations:
                    description: Array of zone locations.
                    type: array
                    items:
                      title: Shipping Zone Locations
                      type: object
                      properties:
                        id:
                          description: Location’s ID.
                          example: 3
                          type: integer
                        zip:
                          description: Location’s ZIP/postal code.
                          example: '12345'
                          type: string
                        country_iso2:
                          description: 2-letter ISO Alpha-2 code for the country.
                          example: US
                          type: string
                        state_iso2:
                          description: ISO Alpha-2 code for the state.
                          example: TX
                          type: string
                  free_shipping:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      minimum_sub_total:
                        type: string
                        example: '0.0000'
                        description: '(Float, Float-As-String, Integer)'
                      exclude_fixed_shipping_products:
                        type: boolean
                  handling_fees:
                    title: Shipping Zone Handling Fees
                    type: object
                    oneOf:
                      - properties:
                          fixed_surcharge:
                            description: Flat-rate handling fee applied to shipping cost.
                            example: '0'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: fixed surcharge
                      - properties:
                          percentage_surcharge:
                            description: Percentage handling fee applied to shipping cost.
                            example: '5'
                            type: string
                          display_separately:
                            description: Indicates whether store displays handling fee separately at checkout.
                            example: true
                            type: boolean
                        title: percentage surcharge
                  enabled:
                    description: Whether this shipping zone is enabled.
                    example: true
                    type: boolean
                required:
                  - name
      operationId: updateAShippingZone
    delete:
      description: Deletes a *Shipping Zone*.
      summary: Delete a Shipping Zone
      tags:
        - Shipping Zones
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAShippingZone
    parameters:
      - name: store_hash
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  '/stores/{store_hash}/v2/shipping/zones/{zone_id}/methods':
    get:
      description: 'Returns a list of *Shipping Methods* in a zone. Default sorting is by shipping method ID, from lowest to highest.'
      summary: Get All Shipping Methods in a Zone
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/shippingMethod_Full'
              x-examples:
                response:
                  value:
                    - id: 1
                      name: Flat Rate
                      type: perorder
                      settings:
                        rate: 12
                      enabled: true
                      handling_fees:
                        fixed_surcharge: 0
                      is_fallback: false
                    - id: 2
                      name: Pickup In Store
                      type: pickupinstore
                      settings: []
                      enabled: false
                      handling_fees:
                        fixed_surcharge: 0
                      is_fallback: false
                    - id: 3
                      name: Ship by Weight
                      type: weight
                      settings:
                        default_cost: 0
                        default_cost_type: fixed_amount
                        range:
                          - lower_limit: 0
                            upper_limit: 20
                            shipping_cost: 8
                          - lower_limit: 20
                            upper_limit: 40
                            shipping_cost: 8
                          - lower_limit: 40
                            upper_limit: 60
                            shipping_cost: 8
                          - lower_limit: 60
                            upper_limit: 80
                            shipping_cost: 8
                      enabled: true
                      handling_fees:
                        fixed_surcharge: 0
                      is_fallback: false
                    - id: 4
                      name: UPS®
                      type: upsready
                      settings:
                        carrier_options:
                          include_package_value: '1'
                          show_transit_time: '1'
                          destination_type: residential
                          packing_method: combined
                          packaging_type: 2c
                          delivery_services:
                            - Express
                            - Ground
                            - Next_Day_Air
                            - Saver
                            - Standard
                          packaging: []
                      enabled: true
                      handling_fees:
                        fixed_surcharge: 0
                      is_fallback: false
            Response Schema:
              examples:
                response:
                  value:
                    - id: 23225205
                      name: tempo
                      type: royalmail
                      settings: {}
                      enabled: true
                      handling_fees: fixed_surcharge
                      is_fallback: false
                    - id: 35889344
                      name: Lorem Excepteur esse
                      type: canadapost
                      settings: {}
                      enabled: true
                      handling_fees: percentage_surcharge
                      is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getShippingMethodsZone
    post:
      description: |-
        Creates a *Shipping Method* within a shipping zone. Real Time Carrier Connections are also supported by this endpoint. 
        
        ## Carrier Configurations – Current
        This section provides a sample request and a carrier-specific object/property model, for each supported carrier.
        
        ### USPS by Endicia
        #### Sample Request
        ```json
        {
          "name": "USPS by Endicia",
          "type": "endicia",
          "settings": {
            "carrier_options": {
              "delivery_services": [
                "PriorityExpress",
                "Priority",
                "PriorityMailExpressInternational"
              ],
              "packaging_type": "LargeFlatRateBox",
              "show_transit_time": true
            }
          },
          "enabled": true
        }
        ```
        #### USPS by Endicia Object Properties
        | Property | Type | Values |
        | - | - | - |
        | `delivery_services` | array | PriorityExpress <br> PriorityMailExpressInternational <br> FirstClassPackageInternationalService <br> Priority <br> PriorityMailInternational <br> First <br> ParcelSelect <br> MediaMail |
        | `packaging_type` | array | FlatRateLegalEnvelope <br> FlatRatePaddedEnvelope <br> Parcel <br> SmallFlatRateBox <br> MediumFlatRateBox <br> LargeFlatRateBox <br> FlatRateEnvelope <br> RegionalRateBoxA <br> RegionalRateBoxB |
        | `show_transit_time` | boolean | true <br> false |
        
        ### FedEx
        #### Sample Request
        
        ```json
        {
          "name": "FEDEX",
          "type": "fedex",
          "settings": {
            "carrier_options": {
              "delivery_services": [
                "PRIORITY_OVERNIGHT",
                "FEDEX_2_DAY"
              ],
              "dropoff_type": "REGULAR_PICKUP",
              "packaging_type": "FEDEX_ENVELOPE",
              "packing_method": "SEPARATE",
              "rate_type": "NONE",
              "include_package_value": true,
              "destination_type": "residential"
            }
          },
          "enabled": true
        }
        ```
        #### FedEx Object Properties
        | Property | Type | Values |
        | - | - | - |
        | `delivery_services` | array | PRIORITY_OVERNIGHT <br> STANDARD_OVERNIGHT <br> FIRST_OVERNIGHT <br> FEDEX_2_DAY <br> FEDEX_EXPRESS_SAVER <br> INTERNATIONAL_PRIORITY <br> INTERNATIONAL_ECONOMY <br> INTERNATIONAL_FIRST <br> FEDEX_1_DAY_FREIGHT <br> FEDEX_2_DAY_FREIGHT <br> FEDEX_3_DAY_FREIGHT <br> FEDEX_GROUND <br> GROUND_HOME_DELIVERY <br> INTERNATIONAL_PRIORITY_FREIGHT <br> INTERNATIONAL_ECONOMY_FREIGHT <br> EUROPE_FIRST_INTERNATIONAL_PRIORITY |
        | `dropoff_type` | string | REGULAR_PICKUP <br> REQUEST_COURIER <br> DROP_BOX <br> BUSINESS_SERVICE_CENTER <br> STATION |
        | `packaging_type` | string | FEDEX_ENVELOPE <br>  FEDEX_PAK <br> FEDEX_BOX <br> FEDEX_TUBE <br> FEDEX_10KG_BOX <br> FEDEX_25KG_BOX <br> YOUR_PACKAGING |
        | `packing_method` | string | SEPARATE <br> COMBINED |
        | `rate_type` | string | NONE <br> LIST |
        | `include_package_value` | boolean | true <br> false |
        | `destination_type` | string | residential <br> business |
        
        ### UPS Ready
        #### Sample Request
        
        ```json
        {
          "name": "UPS ready",
          "type": "upsready",
          "settings": {
            "carrier_options": {
              "delivery_services": [
                "2nd_Day_Air",
                "Standard"
              ],
              "packaging_type": "21",
              "packing_method": "separate",
              "include_package_value": true,
              "destination_type": "residential",
              "show_transit_time": true
            }
          },
          "enabled": true
        }
        ```
        #### UPS Ready Object Properties
        | Property | Type | Values |
        | - | - | - |
        | `delivery_services` | array | 2nd_Day_Air <br> 2nd_Day_Air_AM <br> 3_Day_Select <br> Expedited <br> Express <br> Express_Plus <br> Express_Saver <br> Express_Early_AM <br> Ground <br> Next_Day_Air <br> Next_Day_Air_Early_AM <br> Next_Day_Air_Saver <br> Saver <br> Standard <br> Today_Dedicated_Courier <br> Today_Express <br> Today_Express_Saver <br> Today_Intercity <br> Today_Standard <br> Worldwide_Expedited <br> Worldwide_Express <br> Worldwide_Express_Plus <br> Worldwide_Express_Saver <br> Worldwide_Saver |
        | `destination_type` | string | residential <br> business |
        | `packing_method` | string | separate <br> combined |
        | `packaging_type` | string (only codes allowed) | 21: UPS® Express Box <br> 24: UPS® 25 KG Box <br> 25: UPS® 10 KG Box <br> 30: Pallet <br> 01: UPS® Letter <br> 02: Customer Supplied Package <br> 03: Tube <br> 04: PAK <br> 2a: Small Express Box <br> 2b: Medium Express Box <br> 2c: Large Express Box |
        | `include_package_value` | boolean | true <br> false |
        | `show_transit_time` | boolean | true <br> false |
        
        ### Canada Post
        #### Sample Request
        ```json
        {
          "name": "Canada Post",
          "type": "canadapost",
          "settings": {
            "carrier_options": {
              "delivery_services": [
                "DOM.RP",
                "DOM.EP"
              ]
            }
          },
          "enabled": true
        }
        ```
        
        #### Canada Post Object Properties
        | Property | Type | Values |
        | - | - | - |
        | `delivery_services` | array | DOM.RP <br> DOM.EP <br> DOM.XP <br> DOM.XP.CERT <br> DOM.PC DOM.LIB <br> USA.EP <br> USA.PW.ENV <br> USA.PW.PAK <br> USA.PW.PARCEL <br> USA.SP.AIR <br> USA.TP <br> USA.TP.LVM <br> USA.XP <br> INT.XP <br> INT.IP.AIR <br> INT.IP.SURF <br> INT.PW.ENV <br> INT.PW.PAK <br> INT.PW.PARCEL <br> INT.SP.AIR <br> INT.SP.SURF <br> INT.TP |
        
        ### Australia Post
        ```json
        {
          "name": "Australia Post",
          "type": "auspost",
          "settings": {
            "carrier_options": {
              "delivery_services": [
                "AUS_PARCEL_REGULAR",
                "AUS_PARCEL_EXPRESS"
              ]
            }
          },
          "enabled": true
        }
        ```
        
        #### Australia Post Object Properties
        | Property | Type | Values |
        | - | - | - |
        | `delivery_services` | array | AUS_LETTER_REGULAR_SMALL <br> AUS_LETTER_REGULAR_Large <br> AUS_LETTER_EXPRESS_SMALL <br> AUS_LETTER_EXPRESS_MEDIUM <br> AUS_LETTER_EXPRESS_LARGE <br> AUS_PARCEL_REGULAR <br> AUS_PARCEL_REGULAR_SATCHEL_500G <br> AUS_PARCEL_REGULAR_SATCHEL_3KG <br> AUS_PARCEL_REGULAR_SATCHEL_5KG <br> AUS_PARCEL_EXPRESS <br> AUS_PARCEL_EXPRESS_SATCHEL_500G <br> AUS_PARCEL_EXPRESS_SATCHEL_3KG <br> AUS_PARCEL_EXPRESS_SATCHEL_5KG <br> AUS_PARCEL_COURIER <br> AUS_PARCEL_COURIER_SATCHEL_MEDIUM <br> INT_PARCEL_COR_OWN_PACKAGING <br> INT_PARCEL_EXP_OWN_PACKAGING <br> INT_PARCEL_STD_OWN_PACKAGING <br> INT_PARCEL_AIR_OWN_PACKAGING <br> INT_PARCEL_SEA_OWN_PACKAGING |
        
        ### Royal Mail
        #### Sample Request
        ```json
        {
          "name": "Royal Mail",
          "type": "royalmail",
          "settings": {
            "carrier_options": {
              "delivery_services": [
                "StandardFirstClass",
                "StandardSecondClass"
              ]
            }
          },
          "enabled": true
        }
        ```
        #### Royal Mail Object Properties
        | Property | Type | Values |
        | - | - | - |
        | `delivery_services` | array | SpecialDelivery1pm <br> SpecialDelivery9am <br> SpecialDelivery1pmSaturday <br> SpecialDelivery9amSaturday <br> SignedForFirstClass <br> SignedForSecondClass <br> Express9 <br> Express10 <br> ExpressAM <br> Express24 <br> Express48 <br> StandardFirstClass <br> StandardSecondClass <br> InternationalStandard <br> InternationalTracked <br> InternationalEconomy |
        
        ### Zoom2U
        #### Sample Request
        ```json
        {
          "name": "Zoom2U",
          "type": "zoom2u",
          "settings": {
            "carrier_options": {
              "delivery_services": [
                "3_hour",
                "Same_day",
                "VIP"
              ]
            }
          },
          "enabled": true
        }
          ```
        #### Zoom2U Object Properties
        | Property | Type | Values |
        | - | - | - |
        | `delivery_services` | array | 3_hour <br> Same_day <br> VIP|
        
        ## Settings Objects 
        A shipping method's `type` and `settings` properties can match one of the following models:
        
        ### perorder Object – Properties
        Object model for flat-rate shipping quotes per order.
        | Name | Type | Description |
        | - | - | - |
        | `rate` | number | Flat rate per order. |
        
        #### JSON Example
        ```json
        {
          "name": "Flat Rate per Order",
          "type": "perorder",
          "settings": {
            "rate": 7
          }
        }
        ```
        ### peritem Object – Properties 
        Object model for flat-rate shipping quotes per item ordered.
        | Name | Type | Description |
        | - | - | - |
        | `rate` | number | Flat rate per item. |
        
        #### JSON Example 
        ```json
        {
          "name": "Flat Rate per Item",
          "type": "peritem",
          "settings": {
            "rate": 8
          }
        }
        ```
        ### weight Object – Properties 
        Object model for shipping quotes by weight.
        | Name | Type | Description |
        | - | - | - |
        | `default_cost` | number | Default shipping cost, applied either as a percentage of the order's total value or as a fixed amount. |
        | `default_cost_type` | string | How the default shipping cost is calculated. One of: `percentage_of_total` or `fixed_amount`. |
        | `range` | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties depend on the default units set in the store's control panel. |
        
        #### JSON Example
        ```json
        {
          "name": "Rate per Weight",
          "type": "weight",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 20,
                "shipping_cost": 8
              },
              {
                "lower_limit": 20,
                "upper_limit": 40,
                "shipping_cost": 12
              }
            ]
          }
        }
        ```
        ### total Object – Properties
        Object model for shipping quotes by order's total value.
        | Name | Type | Description |
        | - | - | - |
        | `default_cost` | number | Default shipping cost, applied either as a percentage of the order's total value or as a fixed amount. |
        | `default_cost_type` | string | How the default shipping cost is calculated. One of: `percentage_of_total` or `fixed_amount`. |
        | `include_order_total_taxes` | boolean | Whether or not to include taxes on the order's total value in the shipping cost calculation. |
        | `range` | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties are values in the store's currency. |
        
        #### JSON Example 
        This example sets free shipping above a certain order total:
        
        ```json
        {
          "name": "Per Total or Free",
          "type": "total",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "include_order_total_taxes": 0,
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 5,
                "shipping_cost": 5
              },
              {
                "lower_limit": 5,
                "upper_limit": 10,
                "shipping_cost": 8
              },
              {
                "lower_limit": 10,
                "upper_limit": 20,
                "shipping_cost": 10
              },
              {
                "lower_limit": 20,
                "upper_limit": 49.99,
                "shipping_cost": 15
              },
              {
                "lower_limit": 50,
                "upper_limit": 100000,
                "shipping_cost": 0
              }
            ]
          }
        }
        ```
        ### Range Object – Properties 
        Object model to define ranges for shipping quotes. Units are defined in the parent object.
        | Name | Type | Description |
        | - | - | - |
        | `lower_limit` | number | Lower limit for order total. |
        | `upper_limit` | number | Upper limit for order total. |
        | `shipping_cost` | number | Shipping cost for orders whose total falls between the lower and upper limits. |
        
        #### JSON Example 
        ```json
        {
          "lower_limit": 0,
          "upper_limit": 20,
          "shipping_cost": 8
        }
        ```
      summary: Create a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shippingMethod_Base'
        required: true
        x-examples:
          application/json:
            name: Per Order
            type: perorder
            settings:
              rate: 8
            enabled: true
            handling_fees:
              fixed_surcharge: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shippingMethod_Full'
              x-examples:
                response:
                  value:
                    id: 5
                    name: Per Order
                    type: perorder
                    settings:
                      rate: 8
                    enabled: true
                    handling_fees:
                      fixed_surcharge: 3
            Response Schema:
              examples:
                response:
                  value:
                    id: 19609616
                    name: ad sed
                    type: auspost
                    settings: {}
                    enabled: false
                    handling_fees: fixed_surcharge
                    is_fallback: false
      operationId: createAShippingMethod
    parameters:
      - name: store_hash
        in: path
        required: true
        schema:
          type: string
      - name: zone_id
        in: path
        required: true
        schema:
          type: string
  '/stores/{store_hash}/v2/shipping/zones/{zone_id}/methods/{method_id}':
    get:
      description: |-
        Returns a single *Shipping Method* in a zone. Real Time Carrier Connections are also supported by this endpoint.

        ### Settings Objects

        A shipping method's `type` and `settings` properties can match one of the following models:

        ### perorder Object – Properties

        Object model for flat-rate shipping quotes per order.

        | Name | Type | Description |
        | - | - | - |
        | `rate` | number | Flat rate per order. |

        #### JSON Example

        ```json
        {
          "name": "Flat Rate per Order",
          "type": "perorder",
          "settings": {
            "rate": 7
        },
        ```

        ### peritem Object – Properties

        Object model for flat-rate shipping quotes per item ordered.

        | Name | Type | Description |
        | - | - | - |
        | `rate` | number | Flat rate per item. |

        #### JSON Example

        ```json
        {
          "name": "Flat Rate per Item",
          "type": "peritem",
          "settings": {
            "rate": 8
        },
        ```

        ### weight Object – Properties

        Object model for shipping quotes by weight.

        | Name | Type | Description |
        | - | - | - |
        | `default_cost` | number | Default shipping cost, applied either as a percentage of the order's total value or as a fixed amount. |
        | `default_cost_type` | string | How the default shipping cost is calculated. One of: `percentage_of_total` or `fixed_amount`. |
        | `range` | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties depend on the default units set in the store's control panel. |


        #### JSON Example
        ```json
        {
          "name": "Rate per Weight",
          "type": "weight",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 20,
                "shipping_cost": 8
              },
              {
                "lower_limit": 20,
                "upper_limit": 40,
                "shipping_cost": 12
              }
            ]
          }
        }
        ```

        ### total Object – Properties

        Object model for shipping quotes by order's total value.

        | Name | Type | Description |
        | - | - | - |
        | `default_cost` | number | Default shipping cost, applied either as a percentage of the order's total value or as a fixed amount. |
        | `default_cost_type` | string | How the default shipping cost is calculated. One of: `percentage_of_total` or `fixed_amount`. |
        | `include_order_total_taxes` | boolean | Whether or not to include taxes on the order's total value in the shipping cost calculation. |
        | `range` | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties are values in the store's currency. |

        #### JSON Example

        This example sets free shipping above a certain order total:

        ```json
        {
          "name": "Per Total or Free",
          "type": "total",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "include_order_total_taxes": 0,
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 5,
                "shipping_cost": 5
              },
              {
                "lower_limit": 5,
                "upper_limit": 10,
                "shipping_cost": 8
              },
              {
                "lower_limit": 10,
                "upper_limit": 20,
                "shipping_cost": 10
              },
              {
                "lower_limit": 20,
                "upper_limit": 49.99,
                "shipping_cost": 15
              },
              {
                "lower_limit": 50,
                "upper_limit": 100000,
                "shipping_cost": 0
              }
            ]
          }
        }
        ```

        ### Range Object – Properties

        Object model to define ranges for shipping quotes. Units are defined in the parent object.

        | Name | Type | Description |
        | - | - | - |
        | `lower_limit` | number | Lower limit for order total. |
        | `upper_limit` | number | Upper limit for order total. |
        | `shipping_cost` | number | Shipping cost for orders whose total falls between the lower and upper limits. |

        #### JSON Example

        ```json
        {
          "lower_limit": 0,
          "upper_limit": 20,
          "shipping_cost": 8
        }
        ```
      summary: Get a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: method_id
          in: path
          required: true
          description: ID of the shipping method within the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Shipping Method
                type: object
                properties:
                  id:
                    description: Shipping method ID. Read-only.
                    example: 1
                    type: integer
                    readOnly: true
                  name:
                    description: Display name for shipping method.
                    example: Flat Rate
                    type: string
                  type:
                    $ref: '#/components/schemas/ShippingMethodType'
                  settings:
                    description: 'Depends on the shipping method type. See the [supported settings object](#supported-settings).'
                    type: object
                  enabled:
                    description: Whether or not this shipping zone method is enabled.
                    example: true
                    type: boolean
                  handling_fees:
                    oneOf:
                      - title: fixed surcharge
                        properties:
                          fixed_surcharge:
                            type: number
                            description: Flat-rate handling fee applied to shipping cost.
                            example: 0
                      - title: percentage surcharge
                        properties:
                          percentage_surcharge:
                            type: number
                            description: Percentage handling fee applied to shipping cost.
                            example: 0
                    type: object
                  is_fallback:
                    description: Whether or not this shipping zone is the fallback if all others are not valid for the order.
                    example: false
                    type: boolean
              x-examples:
                response:
                  value:
                    id: 1
                    name: Flat Rate
                    type: perorder
                    settings:
                      rate: 12
                    enabled: true
                    handling_fees:
                      fixed_surcharge: 0
                    is_fallback: false
            Response Schema:
              examples:
                response:
                  value:
                    id: 71711609
                    name: nisi
                    type: weight
                    settings: {}
                    enabled: false
                    handling_fees: percentage_surcharge
                    is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: getAShippingMethod
    put:
      description: |-
        Updates a *Shipping Method* in a zone. Real Time Carrier Connections are also supported by this endpoint.
        **Read Only Fields**
        * `id`
        
        ## Settings Objects 
        A shipping method's `type` and `settings` properties can match one of the following models:
        
        ### perorder Object – Properties
        Object model for flat-rate shipping quotes per order.
        | Name | Type | Description |
        | - | - | - |
        | `rate` | number | Flat rate per order. |
        
        #### JSON Example
        ```json
        {
          "name": "Flat Rate per Order",
          "type": "perorder",
          "settings": {
            "rate": 7
          }
        }
        ```
        ### peritem Object – Properties 
        Object model for flat-rate shipping quotes per item ordered.
        | Name | Type | Description |
        | - | - | - |
        | `rate` | number | Flat rate per item. |
        
        #### JSON Example 
        ```json
        {
          "name": "Flat Rate per Item",
          "type": "peritem",
          "settings": {
            "rate": 8
          }
        }
        ```
        ### weight Object – Properties
        Object model for shipping quotes by weight.
        | Name | Type | Description |
        | - | - | - |
        | `default_cost` | number | Default shipping cost, applied either as a percentage of the order's total value or as a fixed amount. |
        | `default_cost_type` | string | How the default shipping cost is calculated. One of: `percentage_of_total` or `fixed_amount`. |
        | `range` | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties depend on the default units set in the store's control panel. |
        
        #### JSON Example
        ```json
        {
          "name": "Rate per Weight",
          "type": "weight",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 20,
                "shipping_cost": 8
              },
              {
                "lower_limit": 20,
                "upper_limit": 40,
                "shipping_cost": 12
              }
            ]
          }
        }
        ```
        ### total Object – Properties 
        Object model for shipping quotes by order's total value.
        | Name | Type | Description |
        | - | - | - |
        | `default_cost` | number | Default shipping cost, applied either as a percentage of the order's total value or as a fixed amount. |
        | `default_cost_type` | string | How the default shipping cost is calculated. One of: `percentage_of_total` or `fixed_amount`. |
        | `include_order_total_taxes` | boolean | Whether or not to include taxes on the order's total value in the shipping cost calculation. |
        | `range` | number | Array of [range](#range) objects. The units for these ranges' `lower_limit` and `upper_limit` properties are values in the store's currency. |
        
        #### JSON Example 
        This example sets free shipping above a certain order total:
        ```json
        {
          "name": "Per Total or Free",
          "type": "total",
          "settings": {
            "default_cost": 12,
            "default_cost_type": "fixed_amount",
            "include_order_total_taxes": 0,
            "range": [
              {
                "lower_limit": 0,
                "upper_limit": 5,
                "shipping_cost": 5
              },
              {
                "lower_limit": 5,
                "upper_limit": 10,
                "shipping_cost": 8
              },
              {
                "lower_limit": 10,
                "upper_limit": 20,
                "shipping_cost": 10
              },
              {
                "lower_limit": 20,
                "upper_limit": 49.99,
                "shipping_cost": 5
              },
              {
                "lower_limit": 50,
                "upper_limit": 100000,
                "shipping_cost": 5
              }
            ]
          }
        }
        ```
        ### Range Object – Properties 
        Object model to define ranges for shipping quotes. Units are defined in the parent object.
        | Name | Type | Description |
        | - | - | - |
        | `lower_limit` | number | Lower limit for order total. |
        | `upper_limit` | number | Upper limit for order total. |
        | `shipping_cost` | number | Shipping cost for orders whose total falls between the lower and upper limits. |
        
        #### JSON Example 
        ```json
        {
          "lower_limit": 0,
          "upper_limit": 20,
          "shipping_cost": 8
        }
        ```
      summary: Update a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: method_id
          in: path
          required: true
          description: ID of the shipping method within the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shippingMethod_Base'
        required: true
        x-examples:
          application/json:
            settings:
              rate: 11
            handling_fees:
              fixed_surcharge: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shippingMethod_Full'
              x-examples:
                response:
                  value:
                    id: 5
                    name: Per Order
                    type: perorder
                    settings:
                      rate: 11
                    enabled: true
                    handling_fees:
                      fixed_surcharge: 0
            Response Schema:
              examples:
                response:
                  value:
                    id: 8176684
                    name: in incididunt amet adipisicing
                    type: endicia
                    settings: {}
                    enabled: false
                    handling_fees: fixed_surcharge
                    is_fallback: false
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: updateAShippingMethod
    delete:
      description: Deletes an *Shipping Method*. Real Time Carrier Connections can also be deleted.
      summary: Delete a Shipping Method
      tags:
        - Shipping Method
      parameters:
        - name: zone_id
          in: path
          required: true
          description: ID of the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: method_id
          in: path
          required: true
          description: ID of the shipping method within the shipping zone.
          schema:
            type: integer
            exclusiveMinimum: false
            exclusiveMaximum: false
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      responses:
        '204':
          description: ''
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteAShippingMethod
    parameters:
      - name: store_hash
        in: path
        required: true
        schema:
          type: string
      - name: zone_id
        in: path
        required: true
        schema:
          type: string
      - name: method_id
        in: path
        required: true
        schema:
          type: string
  '/stores/{store_hash}/v2/shipping/carrier/connection':
    put:
      description: |-
        Updates a *Carrier Connection*.

        Updating the carrier connection is done using the same information as creating the connection. This endpoint can be used to update credentials.
      summary: Update a Carrier Connection
      tags:
        - Shipping Carrier
      parameters:
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/carrierConnection'
        description: 'The request body will vary by carrier. See [Create a Carrier Connection](/api-reference/store-management/shipping-api/shipping-carrier/postshippingcarrierconnection).'
        x-examples:
          application/json:
            carrier_id: endicia
            connection:
              account_id: yourEndiciaAccountId
              pass_phrase: yourEndiciaPassphrase
      responses:
        '204':
          description: Returns if request was successful.
        '400':
          description: |-
            If a required field is not provided, the request will return a 400 response.

            [
                {
                    "status": 400,
                    "message": "Required fields missing [key]"
                }
            ]
          content:
            application/json:
              schema: {}
      operationId: updateACarrierConnection
    post:
      description: "Creates a *Carrier Connection*. \n\nCarrier connections refer to specific settings required to connect to a specific shipping carrier. Each carrier requires your app to supply a unique set of properties/fields to establish a connection with that carrier.\n\n*Notes:*\n\n- There is no `GET` with this resource. It has `PUT`, `POST` and `DELETE`.\n    * `PUT` is used to update. The connection can be updated by API.\n\n    \n- Connections created here do not enable the shipping method. To enable the carrier for a shipping zone, use the Shipping Methods API. \n\n- The Carrier Connection resource returns a 204 for both successful and unsuccessful attempts to connect. If a field is missing, it will return a 400.\n\n### Australia Post\n\n#### Sample Request – PUT or POST\n\n```json\n{\n\t\"carrier_id\" : \"auspost\",\n\t\"connection\" : {\n\t\t\"auth_key\" : \"yourAusPostAuthKey\",\n\t\t\"test_mode\" : false\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```json\n{\n\t\"carrier_id\" : \"auspost\"\n}\n```\n\n#### Australia Post Connection Object – Properties\n\nAustralia Post `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description\n| - | - | - |\n| auth_key | string | Australia Post authorization key. |\n| test_mode | boolean | Whether or not to use Australia Post test-mode settings. Acceptable values are `true` or `false`. |\n\n\n### Endicia\nUSPS is connected through Endicia.\n\n#### Sample Request – PUT or POST\n\n```json\n{\t\"carrier_id\" : \"endicia\",\n\t\"connection\": {\n\t\t\"account_id\" : \"yourEndiciaAccountId\",\n\t\t\"pass_phrase\" : \"yourEndiciaPassphrase\"\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```json\n{\n\t\"carrier_id\" : \"endicia\"\n}\n```\n\n#### Endicia Connection Object – Properties\n\nEndicia `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description |\n| - | - | - |\n| account_id | string | Endicia account ID. |\n| passphrase | string | Endicia passphrase. |\n\n\n### FedEx\n\n#### Sample Request – PUT or POST\n\n```json\n{\n\t\"carrier_id\" : \"fedex\",\n\t\"connection\" : {\n\t\t\"key\" : \"yourFedexKey\",\n\t\t\"password\" : \"yourFedexPassword\",\n\t\t\"account_number\" : \"yourFedexAccountNumber\",\n\t\t\"meter_number\" : \"yourFedexMeterNumber\"\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```json\n{\n\t\"carrier_id\" : \"fedex\"\n}\n```\n\n#### FedEx Connection Object – Properties\n\nFedEx `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description | \n| - | - | - |\n| key | string | FedEx account ID. | \n| password | string | FedEx passphrase. |\n| account_number | string | FedEx account number. |\n| meter_number | string | FedEx meter number. |\n\n### Royal Mail\n\nSample Request - PUT or POST\n\n```json\n{\n    \"carrier_id\" : \"royalmail\",\n    \"connection\" : {\n        \n    }\n}\n```\n\nSample Request - DELETE\n\n```json\n{\n    \"carrier_id\" : \"royalmail\"\n}\n```\n\n#### Royal Mail Connection Object - Properties\n\nRoyal Mail has no connection object properties.\n\n\n### Zoom2U\n\n#### Sample Request – PUT or POST\n\n```json\n{\n\t\"carrier_id\" : \"zoom2u\",\n\t\"connection\" : {\n\t\t\"auth_key\" : \"yourZoom2uAuthKey\",\n\t\t\"test_mode\" : false\n\t}\n}\n```\n\n#### Sample Request – DELETE\n\n```json\n{\n\t\"carrier_id\" : \"zoom2u\"\n}\n```\n\n#### Zoom2U Connection Object – Properties\n\nZoom2U `PUT` or `POST` requests require all of the following properties. (These requests won’t be fulfilled unless these properties are valid.) `DELETE` requests require only a `carrier_id`.\n\n\n| Property | Type | Description | \n| - | - | - |\n| auth_key | string | Zoom2U authorization key. |\n| test_mode | boolean | Whether or not to use Zoom2U test-mode settings. Acceptable values are `true` or `false`. |"
      summary: Create a Carrier Connection
      operationId: createACarrierConnection
      parameters:
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/carrierConnection'
        x-examples:
          application/json:
            carrier_id: auspost
            connection:
              auth_key: yourAusPostAuthKey
              test_mode: false
      responses:
        '204':
          description: Returns if request was successful.
        '400':
          description: |
            Invalid requests will return a 400 response.

                [
                  {
                    "status": 400,
                    "message": "The field 'id' cannot be written to. Please remove it from your request before trying again."
                  }
                ]

            If a required field is not provided, the request will return a 400 response.

                [
                  {
                    "status": 400,
                    "message": "Required fields missing [key]"
                  }
                ]
          content:
            application/json:
              schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      tags:
        - Shipping Carrier
    delete:
      description: |-
        Deletes a *Carrier Connection*.

        **Required Fields**
        * carrier_id
      summary: Delete a Carrier Connection
      tags:
        - Shipping Carrier
      parameters:
        - name: Accept
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
        - name: Content-Type
          in: header
          required: true
          description: ''
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                carrier_id:
                  type: string
                  example: fedex
        required: true
        x-examples:
          application/json:
            carrier_id: fedex
          new:
            carrier_id: fedex
      responses:
        '204':
          description: Returns if request was successful.
        '400':
          description: |-
            If a required field is not provided, the request will return a 400 response.

            [
                {
                    "status": 400,
                    "message": "Required fields missing [key]"
                }
            ]
          content:
            application/json:
              schema: {}
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
      operationId: deleteCarrierConnection
    parameters:
      - name: store_hash
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    X-Auth-Token:
      type: apiKey
      name: X-Auth-Token
      in: header
      description: |-
        ### OAuth Scopes
        |  **UI Name** | **Permission** | **Parameter** |
        | --- | --- | --- |
        |  Information & Settings | modify | `store_v2_information` |
        |  Information & Settings | read-only | `store_v2_information_read_only` |

        ### Headers

        |Header|Parameter|Description|
        |-|-|-|
        |`X-Auth-Token`|`access_token `|Obtained by creating an API account or installing an app in a BigCommerce control panel.|

        ### Example

        ```http
        GET /stores/{store_hash}/v3/catalog/summary
        host: api.bigcommerce.com
        Content-Type: application/json
        X-Auth-Token: {access_token}
        ```

        * For more information on Authenticating BigCommerce APIs, see: [Authentication](/api-docs/getting-started/authentication).
  schemas:
    TrackingCarrier:
      title: Tracking Carrier
      example: auspost
      type: string
      enum:
        - auspost
        - canadapost
        - endicia
        - usps
        - fedex
        - royalmail
        - ups
        - upsready
        - shipperhq
      x-internal: false
    ShippingProvider:
      title: Shipping Provider
      type: string
      enum:
        - '``'
        - fedex
        - auspost
        - canadapost
        - endicia
        - usps
        - royalmail
        - ups
        - upsready
        - upsonline
        - shipperhq
      example: endicia
      x-internal: false
    ShippingZone:
      title: Shipping Zone
      type: object
      properties:
        id:
          type: integer
          description: Zone ID. Read-only.
          example: 1
          readOnly: true
        name:
          type: string
          description: Zone name. Required for PUT requests.
          example: United States
        type:
          type: string
          enum:
            - zip
            - country
            - state
            - global
        locations:
          description: Array of zone locations.
          type: array
          items:
            title: Shipping Zone Locations
            type: object
            properties:
              id:
                description: Location’s ID.
                example: 3
                type: integer
              zip:
                description: Location’s ZIP/postal code.
                example: '12345'
                type: string
              country_iso2:
                description: 2-letter ISO Alpha-2 code for the country.
                example: US
                type: string
              state_iso2:
                description: ISO Alpha-2 code for the state.
                example: TX
                type: string
        free_shipping:
          type: object
          properties:
            enabled:
              type: boolean
            minimum_sub_total:
              type: string
              example: '0.0000'
              description: '(Float, Float-As-String, Integer)'
            exclude_fixed_shipping_products:
              type: boolean
        handling_fees:
          title: Shipping Zone Handling Fees
          type: object
          oneOf:
            - properties:
                fixed_surcharge:
                  description: Flat-rate handling fee applied to shipping cost.
                  example: '0'
                  type: string
                display_separately:
                  description: Indicates whether store displays handling fee separately at checkout.
                  example: true
                  type: boolean
              title: fixed surcharge
            - properties:
                percentage_surcharge:
                  description: Percentage handling fee applied to shipping cost.
                  example: '5'
                  type: string
                display_separately:
                  description: Indicates whether store displays handling fee separately at checkout.
                  example: true
                  type: boolean
              title: percentage surcharge
        enabled:
          description: Whether this shipping zone is enabled.
          example: true
          type: boolean
      required:
        - name
      x-internal: false
    ShippingZoneLocations:
      title: Shipping Zone Locations
      type: object
      properties:
        id:
          description: Location’s ID.
          example: 3
          type: integer
        zip:
          description: Location’s ZIP/postal code.
          example: '12345'
          type: string
        country_iso2:
          description: 2-letter ISO Alpha-2 code for the country.
          example: US
          type: string
        state_iso2:
          description: ISO Alpha-2 code for the state.
          example: TX
          type: string
      x-internal: false
    HandlingFees:
      title: Shipping Zone Handling Fees
      type: object
      oneOf:
        - properties:
            fixed_surcharge:
              description: Flat-rate handling fee applied to shipping cost.
              example: '0'
              type: string
            display_separately:
              description: Indicates whether store displays handling fee separately at checkout.
              example: true
              type: boolean
          title: fixed surcharge
        - properties:
            percentage_surcharge:
              description: Percentage handling fee applied to shipping cost.
              example: '5'
              type: string
            display_separately:
              description: Indicates whether store displays handling fee separately at checkout.
              example: true
              type: boolean
          title: percentage surcharge
      x-internal: false
    shippingMethod_Full:
      title: shippingMethod_Full
      allOf:
        - type: object
          properties:
            id:
              description: Shipping method ID. Read-only.
              example: 1
              type: integer
              readOnly: true
        - $ref: '#/components/schemas/shippingMethod_Base'
      x-internal: false
    ShippingMethodType:
      title: Shipping Method Type
      example: perorder
      type: string
      enum:
        - perorder
        - peritem
        - weight
        - total
        - auspost
        - canadapost
        - endicia
        - usps
        - fedex
        - royalmail
        - upsready
        - freeshipping
      x-internal: false
    shippingMethod_Base:
      title: shippingMethod_Base
      type: object
      x-internal: false
      properties:
        name:
          description: Display name for shipping method.
          example: Flat Rate
          type: string
        type:
          $ref: '#/components/schemas/ShippingMethodType'
        settings:
          description: 'Depends on the shipping method type. See the [supported settings object](#supported-settings).'
          type: object
          properties:
            rate:
              type: number
              description: Flat rate per order.
              example: 7
        enabled:
          description: Whether or not this shipping zone method is enabled.
          example: true
          type: boolean
        handling_fees:
          oneOf:
            - title: fixed surcharge
              properties:
                fixed_surcharge:
                  type: number
                  description: Flat-rate handling fee applied to shipping cost.
                  example: 0
            - title: percentage surcharge
              properties:
                percentage_surcharge:
                  type: number
                  description: Percentage handling fee applied to shipping cost.
                  example: 0
          type: object
        is_fallback:
          description: Whether or not this shipping zone is the fallback if all others are not valid for the order.
          example: false
          type: boolean
    ShippingResponse:
      type: object
      properties: {}
      title: ShippingResponse
      x-internal: false
    carrierConnection:
      type: object
      title: Carrier Connection
      properties:
        carrier_id:
          type: string
        connection:
          type: object
          description: The `connection` object varies by carrier.
      x-internal: false
    metaCollection:
      title: metaCollection
      description: Meta data relating to pagination.
      type: object
      properties:
        pagination:
          type: object
          properties:
            total:
              type: integer
              description: Total number of items returned.
              example: 3
            count:
              type: integer
              description: Number of items returned on per page.
              example: 1
            per_page:
              type: integer
              description: Number of items to be displayed per page.
              example: 1
            current_page:
              type: integer
              description: Current page number.
              example: 2
            total_page:
              type: integer
              description: Total number of pages.
              example: 3
            links:
              type: object
              properties:
                previous:
                  type: string
                  description: Query string appended to the resource to return to the previous page.
                  example: '?limit=1&page=1'
                next:
                  type: string
                  description: Query string appended to the resource to proceed to the next page.
                  example: '?limit=1&page=3'
                current:
                  type: string
                  description: Query string appended to the resource to show the current page.
                  example: '?limit=1&page=2'
      x-internal: false
x-stoplight:
  docs:
    includeDownloadLink: true
    showModels: false
